* {
    font-family: "serif";
    color: #000;
    margin: 0;
    padding: 0;
}

body {
    background-color:#F2F2F2;
}

#wrapper {
    max-width: 1000px;
    min-height: 100vh;
    margin: 0 auto;
    /* primary grid */
    display: grid;
    grid-template-areas:
        "banner"
        "menu"
        "content"
        "footer";
    grid-template-columns: 1fr;
    grid-template-rows: 100px 50px minmax(650px, auto) minmax(100px, auto);
}
header{
    /* name for primary grid*/
    /* attach to header tag*/
    grid-area: banner;
    outline: 5px solid #b92328;
    margin-top: 10px;
    background-color: #259345;

   
    /*sub grid */
    display: grid;
    grid-template-areas:
    "logo company company company";
    grid-template-columns: repeat(4,1fr);
   


}
    header.logo{
        /* name for sub grid section*/
        grid-area:logo;
        padding: 5px;
        margin-bottom: 10px;
       
       
    }
    header h1 {
        /* name for sub grid scetion*/
        grid-area: company;
        color:white ;
        font-size: 3em;
        text-align: right;
    }
    nav {
        grid-area: menu;
        height: auto;
        width: auto;
        background-color:white;
        outline: 5px solid #b92328;
        
    }
   
    nav ul {
        list-style: none;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
        padding: 1em;
    }

    nav a {
        text-decoration: none;
        display: block;
        padding: 1px;
       
    }

#homemain{
        grid-area: content;
        display: grid;
        text-align: center;
        grid-template-columns: repeat(3, 1fr);
        background-color: WHITE;
        outline: 5px solid #b92328;
        margin-bottom: 5px;
        gap: 12px;

    }
#home-article1{

        background-color: #259345;
        grid-column: 1/4;
        padding: 10px;
        margin: 12px;
    }
#home-article1 h2,
#home-article1 h1 {
    color: white;
    font-size: 60px;
    font-family:sans-serif;
    padding: 30x;
    }
    
#home-article2{
        background-color:#f3efea;
        grid-column: 1/ 4;
        padding: 10px;
        margin: 12px;
}
#home-article2 img {
        width:100%;
    }
    
#roommain {
        background-color: #EAEAEA;
        grid-area: content;
        display: grid;
        text-align:end;
        grid-template-columns: repeat(2, 1fr);
        background-color: white;
        outline: 5px solid #b92328;
        margin-bottom: 5px;
        gap: 12px;
}
#room-article1{
        grid-column: 1/3;
        padding: 10px;
        margin: 12px;
}

#room-article1 img {
        width:100%;
}
#room-article1 h2{
        text-align: center;
        font-size: 30px;
}
#room-article2{
        grid-column: 1/3;
        padding: 10px;
        margin: 12px;
}
#room-article2 img {
        width:100%;
}
#room-article2 h2{
        text-align: center;
        font-size: 30px;
}
#room-article3{
        grid-column: 1/3;
        padding: 10px;
        margin: 12px;
}
#room-article3 img {
        width:100%;
}
#room-article3 h2{
        text-align: center;
        font-size: 30px;
}
#room-article4{
        grid-column: 1/3;
        padding: 10px;
        margin: 12px;
}
#room-article4 img {
        width:100%;
}
#room-article4 h2{
        text-align: center;
        font-size: 30px;
}
button {
    background-color: grey;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}
button:hover {
    background-color: #b92328;
}
#productmain {
     
        grid-area: content;
        display: grid;
        text-align: center;
        grid-template-columns: repeat(3, 1fr);
        background-color: white;
        outline: 5px solid #b92328;
        margin-bottom: 5px;
        gap: 12px;

}
#product-article1{
        grid-column: 1/ 2;
        padding: 10px;
        margin: 12px;
}
#product-article1 img {
        width:100%;
    }
#product-article2{
        grid-column: 3/2;
        padding: 10px;
        margin: 12px; 
}
#product-article2 img {
    width:100%;
}
#product-article3{
        grid-column: 3/4;
        padding: 10px;
        margin: 12px;
}

#product-article3 img {
    width:100%;
}
#product-article4{
        grid-column: 1/2;
        padding: 10px;
        margin: 12px;
}

#product-article4 img {
    width:100%;
}
    #product-article5{
        grid-column: 3/2;
        padding: 10px;
        margin: 12px;
    }

#product-article5 img {
    width:100%;
}
#product-article6{
        grid-column: 3/ 4;
        padding: 10px;
        margin: 12px;
    }

#product-article6 img {
    width:100%;
}
#cartmain {
        background-color: #F0F8FF;
        grid-area: content;
        display: grid;
        text-align: center;
        grid-template-columns: repeat(2, 1fr);
        background-color: white;
        outline: 5px solid #b92328;
        margin-bottom: 5px;
        gap: 12px;
}
#cart-article1{
    background-color: grey solid;
    grid-column: 1/ 2;
    padding: 10px;
    margin: 12px;
}
#cart-article2{
    background-color: aqua;
    grid-column: 3/3;
    padding: 10px;
    margin: 12px;
}
#cart-article3 {
    background-color:#259345;
    grid-column: 1/4;
    padding: 10px;
    margin: 12px;
}
#cart-article3 h2{
    color: white;
    border-radius: 5px;
}

footer{
        grid-area:footer;
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: stretch;
        background-color: white;
        outline: 5px solid #b92328;
        margin-bottom: 10px;
        min-height: 100px;
}
#policy{
        flex: auto;
        background-color: #f3efea;
        padding: 20px;
        margin: 10px;
}
#right{
        flex: auto;
        background-color:#f3efea;
        padding: 10px;
        margin: 12px;
}
#right a {
        display: block; /* Faz os links ficarem um abaixo do outro */
        margin-bottom: 5px; /* Dá espaço entre os links */
}
   